<div class="wrapper-sidebar">
  <header class="sidebar clearfix">
    <div class="site-info">
      {% if site.avatar %}
        <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
      {% endif %} 

      <p class="site-description">{{ site.description }}</p>
    </div>
  </header>

  <div class="navlist">
    
    <nav>
      {% for nav in site.navigation %}
      {% if nav.url contains 'http://' or nav.url contains 'https://' %}
      <li class="navlist-ul-li"><a href="{{ nav.url }}" class="navlist-href">{{ nav.name }}</a></li>
      {% else %}
      <li class="navlist-ul-li"><a href="{{ site.baseurl }}{{ nav.url }}" class="navlist-href">{{ nav.name }}</a></li>
      {% endif %}
      {% endfor %}
    </nav>
  </div>

  <div class="wrapper-footer-desktop">
    <footer class="footer">
      {% include footer.html %}
    </footer>
  </div>
</div>